<div class="container">
  <h2>Konto - {{user.name}}</h2>
  <hr> token: {{user.api_token}}
  <br> id: {{user.id}}
  <hr>
  <h4>Meine Kategorien</h4>
  <hr>

  <div id="infoKategorie">

  </div>

  <div class="well" *ngFor="let kategorie of kategorien">
    <span (click)="setKategorieDetail(kategorie)">{{ kategorie.name }}</span>
    <button style="float:right;" type="button" class="btn btn-danger" (click)="getFragebogenfuerKategorie(kategorie)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <div id="form_Kategorie" class="well form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="example-text-input" class="col-md-2 col-form-label">Name</label>
      </div>
      <div class="col-md-9">
        <input name="nameK" #nameK class="form-control" type="text">
      </div>
    </div>
  </div>
  <div class="btn btn-success" style="width: 100%;" (click)="addKategorie(nameK)">
    +
  </div>

  <hr>
  <h4>Meine Fragebogen</h4>
  <hr>

  <div id="infoFragebogen"></div>

  <div class="well" *ngFor="let fragebog of fragebogen">
    <span (click)="setFragebogenDetail(fragebog)">{{ fragebog.name }}</span>
    <button style="float:right;" type="button" class="btn btn-danger" (click)="deleteFragebogen(fragebog)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>

</div>
