<div class="container">
  <h2>
    Quiz - {{fragebogenDeatil.fragebogen.name}}
  </h2>
  <hr>


  <button id="start" type="button" class="btn btn-success" (click)="starten()">Start</button>
  <div>
    <p id="frage">
      {{frage.frage}}  ID:{{frage.id}}
    </p>
    <div id="antwort">
      <input id="textfeld" (input)="textfeld = $event.target.value" type="text">
      <div id="radiobutton">
        <input type="radio" name="gender" value="{{radio1}}" (change)="radioChangeHandler($event)"> {{radio1}}
        <br>
        <input type="radio" name="gender" value="{{radio2}}" (change)="radioChangeHandler($event)"> {{radio2}}
        <br>
        <input type="radio" name="gender" value="{{radio3}}" (change)="radioChangeHandler($event)"> {{radio3}}
        <br>
        <input type="radio" name="gender" value="{{radio4}}" (change)="radioChangeHandler($event)"> {{radio4}}
        <br>
      </div>

      <div id="wahrfalsch">
        <input type="radio" name="gender" value="wahr" (change)="radioChangeHandler($event)">wahr
        <br>
        <input type="radio" name="gender" value="falsch" (change)="radioChangeHandler($event)">falsch
        <br>
      </div>

      <p>
        {{result}}
      </p>
    </div>
    <button type="button" class="btn btn-success" (click)="ueberpruefen()">Überprüfen</button>
    <button type="button" class="btn btn-success" (click)="naechsteFrage()">Nächste Frage</button>
  </div>

</div>
