<div class="container">
  <h2>
    Quiz - {{fragebogenDeatil.fragebogen.name}}
  </h2>
  <hr>


  <button id="start" type="button" class="btn btn-success" (click)="starten()">Start</button>

  <div id="quiz">
    <p id="frage">
      {{frage.frage}} ID:{{frage.id}}
    </p>
    <div id="antwort">
      <input id="textfeld" (input)="textfeld = $event.target.value" type="text">
      <div id="radiobutton">
        <div id="radio1">
          <input type="radio" name="gender" value="{{radio1}}" (change)="radioChangeHandler($event)"> {{radio1}}
        </div>
        <br>
        <div id="radio2">
          <input type="radio" name="gender" value="{{radio2}}" (change)="radioChangeHandler($event)"> {{radio2}}
        </div>
        <br>
        <div id="radio3">
          <input type="radio" name="gender" value="{{radio3}}" (change)="radioChangeHandler($event)"> {{radio3}}
        </div>
        <br>
        <div id="radio4">
          <input type="radio" name="gender" value="{{radio4}}" (change)="radioChangeHandler($event)"> {{radio4}}
        </div>
        <br>
      </div>

      <div id="wahrfalsch">
        <div id="wahr">
          <input type="radio" name="gender" value="wahr" (change)="radioChangeHandler($event)">wahr
        </div>
        <br>
        <div id="falsch">
            <input type="radio" name="gender" value="falsch" (change)="radioChangeHandler($event)">falsch
        </div>
        <br>
      </div>

      <p>
        {{result}}
      </p>
    </div>
    <button type="button" class="btn btn-success" (click)="ueberpruefen()" [disabled]="ueberpruefenKnopf">Überprüfen</button>
    <button id="naechsteFrage" type="button" class="btn btn-success" (click)="naechsteFrage()" [disabled]="naechsteKnopf">Nächste Frage</button>
    <br>
    <p>
      Richtige: {{anzRichtige}} | Falsche: {{anzFalsche}}
    </p>
  </div>

  <div id="resulat">
    <p>
      Richtige: {{anzRichtige}}
    </p>
    <p>
      Falsche: {{anzFalsche}}
    </p>
    <button id="naechsteFrage" type="button" class="btn btn-success" (click)="wiederholen()">Wiederholen</button>
  </div>
</div>
